@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: url(images/pattern-bg.svg), url(images/pattern-quotes.svg), url(images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: 92% 0%, 30% 25%, bottom left;
}

.hide {
  display: none !important;
}

.container {
  max-width: 80vw;
}

.Tanya,
.John {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container p {
  font-size: 1rem;
  font-weight: 300;
  color: hsl(240, 38%, 20%);
  line-height: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.name {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(240, 18%, 77%);
  margin-right: 0.5rem;
}

.title {
  font-size: 0.875rem;
  font-weight: 300;
  color: hsl(240, 18%, 77%);
}

.image__container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
}

.image__container img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.nav__buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev__button,
.next__button {
  width: 2.5rem;
  height: 2.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.prev__button::before,
.next__button::before {
  content: '';
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  border: 0.125rem solid hsl(240, 18%, 77%);
  border-left: none;
  border-top: none;
  transform: rotate(-45deg);
}

.prev__button:hover::before,
.next__button:hover::before {
  border-color: hsl(240, 38%, 20%);
}

.prev__button {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .container {
    max-width: 90vw;
  }

  .Tanya,
  .John {
    flex-direction: column;
    align-items: center;
  }

  .testimonial {
    margin-bottom: 1.5rem;
  }
}
